





.header-drop{
    opacity: 0;
    animation: dropTop 3s linear 2s forwards;
}





@keyframes dropTop{
    0%   {
        transform: translateY(-200%);opacity: 0}
    25%  {transform: translateY(-150%);opacity: 0.25}
    50%  {transform: translateY(100%) ;opacity: 0.50}
    100% {transform:  translateY(0%);opacity:1}
}